* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font: normal 16px Verdana;
}

header{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 10px;
}

header > h1{
    font-size: 10vw;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px 10vh 30px;
    font-size: 3.5vw;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
}

section > p{
    padding-bottom: 1em;
}

section#p2{
    background: #fff url(img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

section.image{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.290);
}

section.image > p{
    color: #fff;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.491);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

section#p4{
    background: #fff url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer{
    color: #fff;
    background-color: #000;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}